/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Optional: Set a default font */
  background-color: #022339; /* Optional: Background color */
}

section {
  max-width: auto; /* Set the maximum width for the box */
  margin: 10px; 
  padding: 15px; /* Space inside the box */
  background-color: black;
  color: white; /* Background color of the box */
  border-radius: 17px; /* Curved corners */
  box-shadow: 0 4px 50px rgba(244, 244, 244, 0.745); /* Shadow effect */
}


